<%# task_header上部 %>
<div class="task_header">
  <h1><%= @title || "タスク一覧" %></h1>
</div>

<%# task_main部分 %>
<div class="task_main">
  <%= render partial: 'tasks/task_card', collection: @tasks, as: :task %>
</div>
