<div class="side_header">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_registration_path(current_user) %>
  </div>
  <div class="task_create_btn">
    <a href="#">タスクを作成</a>
  </div>
</div>

<div class="side_footer">
  <div class="task_select">
    <ul>
      <li class="task_bar"><a href>今日のタスク</a></li>
      <li class="task_bar"><a href>今週のタスク</a></li>
      <li class="task_bar"><a href>すべてのタスク</a></li>
      <li class="task_bar"><a href>プロジェクト</a></li>
    </ul>
  </div>
</div>